extends layout
block content
  main.moves
    ul
      each move in moves
        li
          a(href=move.url)
            header
              h3=move.name
            div
              p Power: #{move.power}
              p Effect: #{move.effect}
              p PP: #{move.pp}
              p Type: #{move.type}