extends layout
block content
  main.moveInstance
    div.moveInstanceContainer
      header.moveInstanceHeader
        h2=nameCap
      div.moveInstanceDetails
        div.details
          p Power:
          p=power
        div.details
          p PP:
          p=pp
        div.details
          p Effects:
          p=effect
    div.updateDeleteMove
      div.updateDeleteMoveButtons
        a(href=updateInstance) update #{name}
        a(href=deleteInstance) delete #{name}
  script(src="/javascripts/pokemonInstance.js")