extends layout

block content
  main.pokemon
    ul
      each val in data
        li
          header
            h1.name=val.name
            h1.hp=val.stats.hp
          div
            img(src=val.image)
          div.move
            p=val.moves.first.name
            div
              p=val.moves.first.effect
              p=val.moves.first.power
            p=val.moves.second.name
            div
              p=val.moves.second.effect
              p=val.moves.second.power