extends layout

block content
  main.pokemon
    ul
      each val in data
        li
          header
            h1.name=val.name
            h1.hp=val.stats.hp
          div
            img(src=val.image)
          div.move
            p=val.move.name
            p=val.move.effect
            p=val.move.power