extends layout
block content
  main.updatePokemonGet
    div.updatePokemonGetContainer
      header
        h3=name
      form(method='POST' action='')
        div.updatePokeNoramlField
          label(for='pokemonInstanceName') Name:
          input(id='pokemonInstanceName' type='text' name='name' value=name required='true')
        div.updatePokeNoramlField
          label(for='pokemonInstanceID') ID:
          input(id='pokemonInstanceID' type='number' name='id' value=(pokeid === undefined ? '' : pokeid))
        div.updatePokeNoramlField
          label(for='pokemonInstanceHeight') Height:
          input(id='pokemonInstanceHeight' type='number' name='height' value=(height === undefined ? '' : height))
        div.updatePokeNoramlField
          label(for='pokemonInstanceWeight') Weight:
          input(id='pokemonInstanceWeight' type='number' name='weight' value=(weight === undefined ? '' : weight))
        div.updatePokeNoramlField
          label(for='pokemonInstanceHP') HP:
          input(id='pokemonInstanceHP' type='number' name='hp' value=(stats.hp === undefined ? '' : stats.hp))
        div.updatePokeNoramlField
          label(for='pokemonInstanceAttack') Attack:
          input(id='pokemonInstanceAttack' type='number' name='attack' value=(stats.attack === undefined ? '' : stats.attack))
        div.updatePokeNoramlField
          label(for='pokemonInstanceSpecialAttack') Special Attack:
          input(id='pokemonInstanceSpecialAttack' type='number' name='special attack' value=(stats['special-attack'] === undefined ? '' : stats['special-attack']))
        div.updatePokeNoramlField
          label(for='pokemonInstanceSpecialDefense') Special Defense:
          input(id='pokemonInstanceSpecialDefense' type='number' name='special defense' value=(stats['special-defense'] === undefined ? '' : stats['special-defense']))
        div.updatePokeNoramlField
          label(for='pokemonInstanceSpeed') Speed:
          input(id='pokemonInstanceSpeed' type='number' name='speed' value=(stats.speed === undefined ? '' : stats.speed))
        //-  [ MOVES / TYPES ]
        div.checkboxContainer.updatePokemonTypesContainer
          div.slider.updatePokemonTypesSlider
            p Types
            div.arrowImageWrapper
              img(src='/images/downArrow.svg')
          div.content.updatePokemonTypesContent
              each oneType in allTypes
                div
                  label(for=oneType.id) #{oneType.nameCap}
                  input(id=oneType.id type='checkbox' name='types' value=oneType.name checked=oneType.checked)
        button(type='submit') submit
  script(src="/javascripts/updatePokemonGet.js")